.hello{
    width: 100%;
height: 20vh;
margin: 0%;
/* z-index: 10000; */
background: linear-gradient(135deg, #0c0f1f 0%, #0b1c10 100%);
}
.header{
    width: 98%;
    height: auto;
    background-color: none;
    position: sticky;
    z-index: 9;
}
.top_header{
    width: 96%;
    height: 12vh;
    display: flex;
    margin: 2%;
    border-radius: 30px;
    background: linear-gradient(135deg, #0a0f1c, #077d81);
    align-items: center;
    border: 2px solid grey;
    justify-content: space-between;
}
.top_header img{
    width: 4%;
    height: 60%;
    cursor: pointer;
    margin-left: 20px;
}
.tag{
    display:flex;
    gap: 2rem;
    font-size: 22px;
    background-color: none;
    color: rgb(170, 164, 164);
    cursor: pointer;
}
.tag a:hover{
color: green;
}
.tag a{
    background-color: none;
    font-weight: bold;
}

 .codepen-button {
  font-size: 23px;
  border: none;
  width: 10vw;
  text-decoration: none;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  background-color: #97d33e;
  position: relative; 
  overflow: hidden;   
  z-index: 1;
}
.codepen-button:hover{
  background: #000;
  color: greenyellow;
}

.codepen-button::before {
  content: "";  
  position: absolute;
  inset: 0; 
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 300% 100%;
  z-index: -1; 
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: gradientMove 1.5s linear infinite;
  animation-play-state: paused;
}

.codepen-button:hover::before {
  animation-play-state: running;
}

@keyframes gradientMove {
  to {
    background-position: -300% 0;
  }
}

.codepen-button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 10px;
  height: 100%;
  line-height: 45px;
  z-index: 2;
}

/* <div class="absolute -inset-0.5 rounded-xl opacity-0 group-hover:opacity-100 transition-opacity duration-200" style="background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 127, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(75, 0, 130), rgb(148, 0, 211)) 15.8% 50% / 400% 400%;"></div> */

