.main_section{
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #111425 100%, #15311e 100%);
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading p{
    width: 60%;
    display: flex;
    font-size: 2.4rem;
    align-items: center;
    text-align: center;justify-content: center;
}
.services_box_display{
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
    gap: 3rem;
}
.box_services{
    width: 550px;
    padding: 30px;
    background-color: #0c1f38;
    border-radius: 10px;
    border: 0.5px solid greenyellow;
}
