.footer {
  /* background: #000; 
  color: #fff;
  padding: 50px 80px 20px;
  font-family: Arial, sans-serif; */
    width: 100%;
height: auto;
background: linear-gradient(135deg, #111425 100%, #15311e 100%);
margin-top: -56px;
color: #fff;
padding-top: 120px;
 /* padding: 50px 80px 20px; */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left:10%;
}

.footer-left {
  flex: 1;
  min-width: 280px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 23px;
  line-height: 1.6;
  color: gray;
  margin-bottom: 20px;
}

.footer-socials a {
  display: inline-block;
  font-size: 20px;
  margin-right: 15px;
  color: #bbb;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #00ff80; 
}

.footer-services {
  flex: 1;
  min-width: 220px;
}

.footer-services h3,
.footer-contact h3 {
  font-size: 33px;
  margin-bottom: 15px;
}

.footer-services ul {
  list-style: none;
  padding: 0;
}

.footer-services li {
  margin-bottom: 10px;
  font-size: 23px;
  color:gray;
}

.footer-contact {
  flex: 1;
  min-width: 220px;
}

.footer-contact p {
  font-size: 23px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: gray;
}

.footer-btn {
  margin-top: 15px;
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.footer-btn:hover {
  background: greenyellow;
  color: #000;
}

.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 15px;
  color: #aaa;
}

.footer-links a {
  margin-left: 15px;
  font-size: 22px;
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00ff80;
}
